body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    font-size: 200px;
    font-weight: bold;
  }
  
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .hlink {
    margin: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  a:hover {
    background-color: gray;

  }
  
